{% extends "base.html" %}
{% block title %}V:EKN Cardlist{% endblock %}
{% block content %}
<h1>The V:EKN Cardlist</h1>

<!-- This should be made prettier -->

<h2>Details</h2>
<p>{{ counts['library'] }} Library cards, {{ counts['crypt'] }} crypt cards, {{ counts['crypt'] + counts['library'] }} Total Cards</p>

<h2>Cards</h2>
{% set groupstep = 10000 %}

<table id="cardlist">
{% for group, cards in grouped %}
<tr data-tt-id="{{ loop.index }}"><td>{{ group }}</td></tr>
{% set grouploop = loop %}
{% for card in cards %}
<tr data-tt-id="{{ grouploop.index * groupstep + loop.index }}" data-tt-parent-id="{{ grouploop.index }}"><td><a href="/card/{{ card.name }}">{{ card.name }}</a></td></tr>
{% endfor %}
{% endfor %}
</table>

{% endblock %}
{% block buttons %}
<form action="{{ url_for('cardlist') }}" method=post>
   <input type="hidden" name="curfilter" value="{{ curfilter }}">
   <input type="hidden" name="curgrouping" value="{{ grouping }}">
   <input type="submit" name="grouping" value="Change Grouping">
   <input type="submit" name="filter" value="Specify Filter">
</form>
{% endblock %}
{% block navigation %}
<p>Return to <a href="/">Main page</a></p>
{% endblock %}
{% block jscript %}
<script type="text/javascript">
   $("#cardlist").treetable({ expandable: true });
</script>
{% endblock %}
