{% extends "base.html" %}
{% block title %}Card Set List{% endblock %}
{% block content %}
<h1>Card Set List</h1>
<table id="cardsettree">
   {% for tree in cardsets recursive %}
   {% if tree.parent %}
   <tr data-tt-id="{{ tree.nodeid }}" data-tt-parent-id="{{ tree.parent }}"><td>
   {% else %}
   <tr data-tt-id="{{ tree.nodeid }}"><td>
   {% endif %}
   {% if tree.inuse %}
   <a href="cardsetview/{{ tree.linkname }}"><strong>{{ tree.name }}</strong></a>
   {% else %}
   <a href="cardsetview/{{ tree.linkname }}">{{ tree.name }}</a>
   {% endif %}
   </td><td>{{ tree.info }}</td></tr>
   {% if tree.children %}
   {{ loop(tree.children) }}
   {% endif %}
   {% endfor %}
</table>
{% endblock %}
{% block navigation %}
<p>Return to <a href="/">Main page</a></p>
{% endblock %}
{% block jscript %}
<script type="text/javascript">
   $("#cardsettree").treetable({ expandable: true });
</script>
{% endblock %}
