/*

Sutekh Web CSS Style
   Neil Muller <drnlmuller+sutekh@gmail.com>

*/

body {
   font-family: luxi sans, trebuchet ms, sans-serif;
   color: #888;
   margin: 12px;
   background-color: #3c3c3c;
}

#title {
   color: #bbb;
   font-weight: bold;
   margin: 0;
   padding: 0;
   margin-left: 3px;
   font-size: large;
   letter-spacing: .5em;
}

div#content li {
   margin-top: 1px;
}

div#content p {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

/* Indent expansions, etc. */
div#subcard p {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   text-indent: 40px;
}

span.errata {
   color: #f88;
}

div#buttons {
   margin-top: 5px;
   margin-bottom: 5px;
}

div#navigation {
   float: right;
   text-align: right;
   margin-top: 3px;
}

a {
   text-decoration: none;
   color: #c49200;
}
