{% extends "base.html" %}
{% block title %}Full Cardlist{% endblock %}
{% block content %}
<h1>The Full Cardlist</h1>

<!-- This should be made prettier -->

{% for group, cards in grouped %}
<h2>{{ group }}</h2>
{% for card in cards %}
<p><a href="/card?name={{ card.name }}&source=cardlist&grouping={{ groupby }}">{{ card.name }}</a></p>
{% endfor %}
{% endfor %}

<h2>Navigation</h2>
<ul>
   {% for group in groupings %}
   <li><a href="/cardlist?grouping={{ group }}">{{ group }}</a></li>
   {% endfor %}
</ul>
{% endblock %}

