{% extends "base.html" %}
{% block title %}{{ cardset.name }}{% endblock %}
{% block content %}
<h1>{{ cardset.name }}</h1>
{% if cardset.author %}
<h2>{{ cardset.author }}</h2>
{% endif %}
{% if cardset.comment %}
<h2>Description</h2>
<p>{{ cardset.comment }}</p>
{% endif %}
{% if cardset.annotations %}
<h2>Annotations</h2>
<p>{{ cardset.annotations }}</p>
{% endif %}

<h2>Details</h2>
<p>{{ counts['library'] }} Library cards, {{ counts['crypt'] }} crypt cards</p>

{% if cardset.inuse %}
<p>Card Set is current marked as <strong>In Use</strong></p>
{% endif %}

<!-- This should be made prettier -->

{% for group, cards in grouped %}
<h3>{{ group }}</h3>
{% for item in cards|sort(attribute='card.name') %}
<p>{{ item.cnt }} x <a href="/card/{{ item.card.name }}">{{ item.card.name }}</a></p>
{% endfor %}
{% endfor %}
{% endblock %}
{% block buttons %}
<form action="{{ url_for('cardsetview', sCardSetName=quotedname) }}" method=post>
   <input type="submit" name="grouping" value="Change Grouping">
   <input type="submit" name="filter" value="Specify Filter">
</form>
{% endblock %}
{% block navigation %}
<p>Return to <a href="/">Main page</a></p>
{% endblock %}
