{% extends "base.html" %}
{% block title %}V:EKN Cardlist{% endblock %}
{% block content %}
<h1>The Full Cardlist</h1>

<!-- This should be made prettier -->

{% for group, cards in grouped %}
<h2>{{ group }}</h2>
{% for card in cards %}
<p><a href="/card/{{ card.name }}">{{ card.name }}</a></p>
{% endfor %}
{% endfor %}

{% endblock %}
{% block buttons %}
<form action="{{ url_for('cardlist') }}" method=post>
   <input type="submit" name="grouping" value="Change Grouping">
   <input type="submit" name="filter" value="Specify Filter">
</form>
{% endblock %}
{% block navigation %}
<p>Return to <a href="/">Main page</a></p>
{% endblock %}
