{% extends "base.html" %}
{% block title %}Choose Grouping{% endblock %}
{% block content %}
<h1>Choose the Grouping</h1>
<form action="{{ url_for('change_grouping') }}" method=post>
      {% for group in groupings %}
      <p><input type="radio" value="{{ group }}" name="grouping" >{{ group }} Grouping</input></p>
      {% endfor %}
      <!-- Should this be done via session stuff? -->
{% endblock %}
{% block buttons %}
   <input type="hidden" name="source" value="{{ source }}">
   <input type="hidden" name="cardset" value="{{ cardsetname }}">
   <input type="hidden" name="showexp" value="{{ showexp }}">
   <input type="submit" name="dogroup" value="Change Grouping">
</form>
{% endblock %}
